/*全局通用样式*/
input,
input:focus {
    border: 1px #ccc solid !important;
    box-shadow: none !important;
    outline: none !important;
}

/*查询按钮焦点事件*/
.btn:focus,
.btn.active:focus,
.btn:active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none !important;
    box-shadow: none !important;
}
/*全局通用样式*/



/*导航样式*/
#main_nav .navbar-brand {
    padding-left: 40px;
    color: #333 !important;
    font-size: 22px;
    font-weight: bolder;
    position: relative;
}

#main_nav .navbar-brand:hover {
    color: #333;
}

#main_nav .navbar-brand > i {
    color: #337ab7;
    font-size: 35px;
    position: absolute;
    left: 0px;
    top: 22px;
}

#qh_navbar > ul > .active > a {
    background: none;
    font-size: 15px;
    font-weight: bolder;
}

#main_nav .input-group {
    width: 180px;
}

#main_nav .input-group > input,
#main_nav .input-group > input:focus {
    border: 1px #ccc solid;
    box-shadow: none;
    outline: none;
    border-right-color: #2e6da4;
}

#main_nav .input-group > input {
    border: 1px #ccc solid;
    border-right-color: #2e6da4;
}

#main_nav .input-group > span > button{
    height: 34px;
}

/*查询按钮焦点事件*/
#main_nav .btn:focus,
#main_nav .btn.active:focus,
#main_nav .btn:active:focus,
#main_nav .btn.focus,
#main_nav .btn:active.focus,
#main_nav .btn.active.focus {
    outline: none;
    box-shadow: none;
    background: #337ab7;
    border-color: #2e6da4;
}

#main_nav .btn:hover {
    background: #337ab7;
    border-color: #2e6da4;
}

#loginreg > li > a > span {
    color: #337ab7;
}


/*页脚样式*/
.footer{
    margin-top: 50px;
    background: #666;
    padding: 30px 0 30px 0;
    color:#999
}

.footer > div.footericon{
    text-align: center;
}

.footer > div.footericon > span{
    font-size: 60px;
}

.footer > .cr{
    text-align: center;
}

.footer > .cr > a{
    color: #999;
}